footer.container-fluid
    nav.col-sm-12.col-md-12.col-lg-12
        ul#footernav
            li Contact
            li Download
            li Press
            li Email
            li Support
            li Privacy Policy